<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bodrum - Modular Multi Purpose HTML5 Template</title>
	<meta name="description" content="Bodrum - Modular Multi Purpose HTML5 template by tempload." />
	<meta name="keywords" content="bodrum, startup, saas, agency, development, html, template, tempload" />
	<meta name="author" content="tempload" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="../assets/images/favicon/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="../assets/css/theme.css" rel="stylesheet" type="text/css">
</head>
<body class="overflow-unset">


	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div id="loader" class="spinner">
			<div id="shadow"></div>
			<div id="box"></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->


	<!-- Header Start -->
	<header class="main-nav-container box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-nav">
						<!-- Logo Start -->
						<a href="../home/classic-agency.html" class="logo pull-left d-flex align-items-center">
							<img src="../assets/images/logo/dark.svg" alt="">
						</a>
						<!-- Logo End -->
	
						<!-- Navigation Start -->
						<nav class="menu pull-right">
							<ul class="menu-container list-unstyled d-flex align-items-center">
								<li class="menu-item">
									<a class="nav-link" href="../home-property/index.html">Home</a>
								</li>

								<li class="menu-item open-sub-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Listing</a>
									<ul class="sub-menu list-unstyled box rounded-bottom">
										<li class="sub-menu-item">
											<a href="../home-property/grid-style.html" class="sub-menu-link">Grid Style</a>
										</li>
										<li class="sub-menu-item">
											<a href="../home-property/list-style.html" class="sub-menu-link">List Style</a>
										</li>
									</ul>
								</li>

								<li class="menu-item">
									<a class="nav-link" href="../home-property/single-property.html">Single Property</a>
								</li>
	
								<!-- Mini Menu Start -->
								<li class="menu-item open-mini-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Demos</a>
									<div class="mini-menu box overflow-hidden rounded-bottom">
										<div class="row no-gutters">
											<div class="col-lg-6">
												<div class="mini-menu-img imgfix overlay-gradient opacity-80">
													<img src="../assets/images/photos/navbar/2.jpg" alt="">
													<div class="content text-center p-25">
														<h3 class="text-white m-b-20">Want to see an overview?</h3>
														<a href="javascript:;"
															class="button button-success transition-3d-hover">Learn More</a>
													</div>
												</div>
											</div>
											<div class="col-lg-6 p-l-r-10">
												<a href="../home-property/index.html"
													class="icon-item border-bottom d-flex justify-content-start align-items-center"
													target="_blank">
													<div class="icon">
														<img src="../assets/images/photos/icons/1.png" alt="">
													</div>
													<div class="text">
														<h6>House</h6>
														<span>Real estate demo</span>
													</div>
												</a>
												<a href="../help-desk/index.html"
													class="icon-item border-bottom d-flex justify-content-start align-items-center"
													target="_blank">
													<div class="icon">
														<img src="../assets/images/photos/icons/2.png" alt="">
													</div>
													<div class="text">
														<h6>Help Desk</h6>
														<span>Help desk demo</span>
													</div>
												</a>
												<a href="#"
													class="icon-item border-bottom d-flex justify-content-start align-items-center o-30">
													<div class="icon">
														<img src="../assets/images/photos/icons/3.png" alt="">
													</div>
													<div class="text">
														<h6>New Demos</h6>
														<span>Coming soon...</span>
													</div>
												</a>
											</div>
										</div>
									</div>
								</li>
								<!-- Mini Menu End -->
	
								<!-- Mini Menu Start -->
								<li class="menu-item open-mini-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Docs</a>
									<div class="mini-menu w-300 h-auto box overflow-hidden rounded-bottom">
										<div class="row no-gutters">
											<div class="col-lg-12 p-l-r-10">
												<a href="../../../documentation/index.html" target="_blank"
													class="icon-item border-bottom d-flex justify-content-start align-items-center">
													<div class="icon">
														<img src="../assets/images/photos/icons/4.png" alt="">
													</div>
													<div class="text">
														<h6>Documentation</h6>
														<span>Development guides</span>
													</div>
												</a>
												<a href="../../../documentation/changelog.html" target="_blank"
													class="icon-item d-flex justify-content-start align-items-center">
													<div class="icon">
														<img src="../assets/images/photos/icons/5.png" alt="">
													</div>
													<div class="text">
														<h6>Changelog</h6>
														<span>Version changes</span>
													</div>
													<!-- Version number settings assets/js/global.js -->
													<div class="version"></div>
												</a>
											</div>
										</div>
									</div>
								</li>
								<!-- Mini Menu End -->
	
								<li class="menu-item d-none d-lg-block">
									<a class="nav-button transition-3d-hover" href="https://themeforest.net/item/bodrum-modular-multi-purpose-html5-template/25649533" target="_blank">Buy Now</a>
								</li>
							</ul>
						</nav>
						<!-- Navigation End -->
	
						<a class="menu-trigger">
							<span>Menu</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->


	<!-- Gallery Start -->
	<section class="m-t-80">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 sm-m-b-30">
					<div class="imgfix-animate h-530 d-block overflow-hidden">
						<img src="../assets/images/photos/home-property/g1.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-6 m-b-30">
							<div class="imgfix-animate h-250 d-block overflow-hidden">
								<img src="../assets/images/photos/home-property/g2.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-6 m-b-30">
							<div class="imgfix-animate h-250 d-block overflow-hidden">
								<img src="../assets/images/photos/home-property/g3.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-6">
							<div class="imgfix-animate h-250 d-block overflow-hidden">
								<img src="../assets/images/photos/home-property/g4.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-6">
							<div class="imgfix-animate h-250 d-block overflow-hidden">
								<img src="../assets/images/photos/home-property/g5.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Gallery End -->


	<!-- Page Content Start -->
	<section class="p-t-60 p-b-120">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 sm-m-b-30">
					<div id="content">
						<h1>Panorama Apartment in Central Paris</h1>
						<span class="text-color-primary d-block m-b-10"><i class="fa fa-map-marker"></i> Melbourne Victoria, AU</span>
						<div class="d-flex m-b-40">
							<div class="item f-s-14 m-r-20">
								<i class="fa fa-bed text-color-reset"></i>
								<span class="text-color-heading">1</span>
							</div>
							<div class="item f-s-14 m-r-20">
								<i class="fa fa-bath text-color-reset"></i>
								<span class="text-color-heading">1</span>
							</div>
							<div class="item f-s-14 m-r-20">
								<i class="fa fa-tv text-color-reset"></i>
								<span class="text-color-heading">1</span>
							</div>
							<div class="item f-s-14 m-r-20">
								<i class="fa fa-clone text-color-reset"></i>
								<span class="text-color-heading">1,428 sqft</span>
							</div>
						</div>
						<div class="divider m-b-40"></div>

						<div class="row m-b-40">
							<div class="col-12">
								<div class="icon-list d-flex align-items-start m-b-15">
									<div class="icon">1</div>
									<div class="flex-1">
										<h5 class="m-b-10">Entire home</h5>
										<p>You’ll have the apartment to yourself.</p>
									</div>
								</div>
								<div class="icon-list d-flex align-items-start m-b-15">
									<div class="icon">2</div>
									<div class="flex-1">
										<h5 class="m-b-10">Sparkling clean</h5>
										<p>10 recent guests said this place was sparkling clean.</p>
									</div>
								</div>
								<div class="icon-list d-flex align-items-start m-b-15">
									<div class="icon">3</div>
									<div class="flex-1">
										<h5 class="m-b-10">Alex M. is a Superhost</h5>
										<p>Superhosts are experienced, highly rated hosts who are committed to providing great stays for guests.</p>
									</div>
								</div>
								<div class="icon-list d-flex align-items-start">
									<div class="icon">4</div>
									<div class="flex-1">
										<h5 class="m-b-10">Great location</h5>
										<p>90% of recent guests gave the location a 5-star rating.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="divider m-b-40"></div>

						<div class="text-content m-b-30">
							<p>Ut at libero sed orci imperdiet semper sed ac justo. Sed elementum malesuada accumsan. Morbi sit amet est eget augue pharetra ultrices eu sit amet sapien.</p>
							<p>Aliquam et hendrerit lorem, ac lobortis tellus. Fusce mattis dapibus urna, sed eleifend justo ullamcorper quis. Aliquam erat volutpat. Aenean a est sit amet nisl lacinia suscipit non nec dolor. Nam tempus quis sapien nec dictum.</p>
						</div>
						<div class="divider m-b-40"></div>

						<h5 class="m-b-10">Amenities</h5>
						<div class="row m-b-25">
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Kitchen</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Shampoo</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Heating</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Air conditioning</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Hair Dryer</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Wifi</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Private Bathroom</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Hangers</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Washer</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Dryer</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Breakfast</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Indoor Fireplace</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> TV</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Iron</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Cable TV</span>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-b-10">
								<span class="text-color-heading"><i class="fa fa-check text-color-success m-r-10"></i> Heating</span>
							</div>
						</div>
						<div class="divider m-b-40"></div>

						<h5 class="m-b-10">Reviews</h5>
						<div class="box border-box rounded p-25 p-b-5 m-b-40">
							<div class="row">
								<!-- item start -->
								<div class="col-lg-6 m-b-20">
									<div class="row d-flex align-items-center">
										<div class="col-lg-4 col-12">
											<span class="text-color-heading">Cleanliness</span>
										</div>
										<div class="col-lg-6 col-10">
											<div class="progressbar gradient">
												<div class="line" data-width="80"></div>
											</div>
										</div>
										<div class="col-lg-2 col-2">
											<strong>4.8</strong>
										</div>
									</div>
								</div>
								<!-- item end -->

								<!-- item start -->
								<div class="col-lg-6 m-b-20">
									<div class="row d-flex align-items-center">
										<div class="col-lg-4 col-12">
											<span class="text-color-heading">Accuracy</span>
										</div>
										<div class="col-lg-6 col-10">
											<div class="progressbar gradient">
												<div class="line" data-width="50"></div>
											</div>
										</div>
										<div class="col-lg-2 col-2">
											<strong>2.5</strong>
										</div>
									</div>
								</div>
								<!-- item end -->

								<!-- item start -->
								<div class="col-lg-6 m-b-20">
									<div class="row d-flex align-items-center">
										<div class="col-lg-4 col-12">
											<span class="text-color-heading">Contact</span>
										</div>
										<div class="col-lg-6 col-10">
											<div class="progressbar gradient">
												<div class="line" data-width="70"></div>
											</div>
										</div>
										<div class="col-lg-2 col-2">
											<strong>3.6</strong>
										</div>
									</div>
								</div>
								<!-- item end -->

								<!-- item start -->
								<div class="col-lg-6 m-b-20">
									<div class="row d-flex align-items-center">
										<div class="col-lg-4 col-12">
											<span class="text-color-heading">Location</span>
										</div>
										<div class="col-lg-6 col-10">
											<div class="progressbar gradient">
												<div class="line" data-width="100"></div>
											</div>
										</div>
										<div class="col-lg-2 col-2">
											<strong>5.0</strong>
										</div>
									</div>
								</div>
								<!-- item end -->

								<!-- item start -->
								<div class="col-lg-6 m-b-20">
									<div class="row d-flex align-items-center">
										<div class="col-lg-4 col-12">
											<span class="text-color-heading">Check-in</span>
										</div>
										<div class="col-lg-6 col-10">
											<div class="progressbar gradient">
												<div class="line" data-width="85"></div>
											</div>
										</div>
										<div class="col-lg-2 col-2">
											<strong>4.9</strong>
										</div>
									</div>
								</div>
								<!-- item end -->

								<!-- item start -->
								<div class="col-lg-6 m-b-20">
									<div class="row d-flex align-items-center">
										<div class="col-lg-4 col-12">
											<span class="text-color-heading">Value</span>
										</div>
										<div class="col-lg-6 col-10">
											<div class="progressbar gradient">
												<div class="line" data-width="60"></div>
											</div>
										</div>
										<div class="col-lg-2 col-2">
											<strong>3.2</strong>
										</div>
									</div>
								</div>
								<!-- item end -->
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<!-- item start -->
								<div class="d-flex align-items-start m-b-20">
									<div class="oval-70 overflow-hidden m-r-30">
										<img src="../assets/images/photos/profile/70/3.png" alt="">
									</div>
									<div class="content w-100 flex-1">
										<div class="row d-flex align-items-center">
											<div class="col-8">
												<span class="d-block text-color-heading">Hans Down</span>
												<span>09 APR 2020</span>
											</div>
											<div class="col-4">
												<a href="#" class="btn-reply pull-right"><i class="fa fa-reply"></i> Reply</a>
											</div>
											<div class="col-lg-12 m-t-10">
												<p>Praesent ut fringilla ligula. Vivamus et lacus nec risus malesuada vestibulum. Phasellus
													lobortis viverra lobortis. Donec iaculis, erat eu bibendum faucibus.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="divider m-b-20"></div>
								<!-- item end -->
						
								<!-- item start -->
								<div class="d-flex align-items-start m-b-30">
									<div class="oval-70 overflow-hidden m-r-30">
										<img src="../assets/images/photos/profile/70/8.png" alt="">
									</div>
									<div class="content w-100 flex-1">
										<div class="row d-flex align-items-center">
											<div class="col-8">
												<span class="d-block text-color-heading">Penny Tool</span>
												<span>09 APR 2020</span>
											</div>
											<div class="col-4">
												<a href="#" class="btn-reply pull-right"><i class="fa fa-reply"></i> Reply</a>
											</div>
											<div class="col-lg-12 m-t-10">
												<p>Praesent ut fringilla ligula. Vivamus et lacus nec risus malesuada vestibulum. Phasellus
													lobortis viverra lobortis. Donec iaculis, erat eu bibendum faucibus.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="d-flex align-items-start m-b-20 p-l-50">
									<div class="oval-70 overflow-hidden m-r-30">
										<img src="../assets/images/photos/profile/70/7.png" alt="">
									</div>
									<div class="content w-100 flex-1">
										<div class="row d-flex align-items-center">
											<div class="col-8">
												<span class="d-block text-color-heading">Eric Widget</span>
												<span>09 APR 2020</span>
											</div>
											<div class="col-4">
												<a href="#" class="btn-reply pull-right"><i class="fa fa-reply"></i> Reply</a>
											</div>
											<div class="col-lg-12 m-t-10">
												<p>Praesent ut fringilla ligula. Vivamus et lacus nec risus malesuada vestibulum. Phasellus
													lobortis
													viverra lobortis. Donec iaculis, erat eu bibendum faucibus.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="divider m-b-20"></div>
								<!-- item end -->
						
								<!-- item start -->
								<div class="d-flex align-items-start m-b-20">
									<div class="oval-70 overflow-hidden m-r-30">
										<img src="../assets/images/photos/profile/70/13.png" alt="">
									</div>
									<div class="content w-100 flex-1">
										<div class="row d-flex align-items-center">
											<div class="col-8">
												<span class="d-block text-color-heading">Penny Tool</span>
												<span>09 APR 2020</span>
											</div>
											<div class="col-4">
												<a href="#" class="btn-reply pull-right"><i class="fa fa-reply"></i> Reply</a>
											</div>
											<div class="col-lg-12 m-t-10">
												<p>Praesent ut fringilla ligula. Vivamus et lacus nec risus malesuada vestibulum. Phasellus
													lobortis viverra lobortis. Donec iaculis, erat eu bibendum faucibus.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="divider"></div>
								<!-- item end -->
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div id="sidebar">
						<div class="box border-box p-25 rounded m-b-20">
							<p class="text-color-heading"><strong>$280 / </strong>Night</p>
							<div class="m-b-30">
								<ul class="list-unstyled list-inline pull-left m-r-10">
									<li class="list-inline-item f-s-12 m-r-0"><i class="fa fa-star text-color-primary"></i></li>
									<li class="list-inline-item f-s-12 m-r-0"><i class="fa fa-star text-color-primary"></i></li>
									<li class="list-inline-item f-s-12 m-r-0"><i class="fa fa-star text-color-primary"></i></li>
									<li class="list-inline-item f-s-12 m-r-0"><i class="fa fa-star text-color-primary"></i></li>
									<li class="list-inline-item f-s-12 m-r-0"><i class="fa fa-star text-color-soft"></i></li>
								</ul>
								<span><strong class="text-color-heading">4.86 </strong>78 reviews</span>
							</div>
							<div class="divider m-b-30"></div>

							<div class="row">
								<div class="col-lg-6 col-md-6 m-b-30">
									<div class="form-item">
										<label class="lbl" for="datestart">CHECK-IN</label>
										<input class="input" type="text" id="datestart" placeholder="dd-mm-yyyy" />
									</div>
								</div>
								<div class="col-lg-6 col-md-6 m-b-30">
									<div class="form-item">
										<label class="lbl" for="dateend">CHECK-OUT</label>
										<input class="input" type="text" id="dateend" placeholder="dd-mm-yyyy" />
									</div>
								</div>
								<div class="col-lg-12 m-b-10">
									<div class="form-item custom-selectbox">
										<label class="lbl" for="form4">GUESTS</label>
										<select class="selectpicker" id="form4" title="Guests">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
								</div>
							</div>

							<div class="d-flex justify-content-between m-b-5">
								<span>$280 x 2 nights</span>
								<span>$560</span>
							</div>
							<div class="divider m-b-5"></div>

							<div class="d-flex justify-content-between m-b-5">
								<span>Service fee <i class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Help title"></i></span>
								<span>$40</span>
							</div>
							<div class="divider m-b-5"></div>

							<div class="d-flex justify-content-between m-b-20">
								<span class="text-color-heading">Total</span class="text-color-heading">
								<span class="text-color-heading">$600</span>
							</div>

							<button class="button button-primary w-100 transition-3d-hover m-b-10">Reserve</button>

							<div class="text-center p-25 p-t-0 p-b-0">
								<span>You won’t be charged yet</span>
								<span>Certain reservations may also require a security deposit.</span>
							</div>
						</div>

						<div class="text-center">
							<a href="#" class="link-text-d-n f-s-14"><i class="fa fa-flag-o"></i> Report this listing</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page Content End -->


	<!-- Footer Section Start -->
	<section class="p-t-120 p-b-120 section-blue border-bottom">
		<div class="container">
			<div class="row">
				<div class="offset-lg-3 col-lg-6">
					<h2 class="text-center m-b-10">Stay in the know</h2>
					<p class="text-center m-b-40">Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi erat.</p>
					<div class="input-buttons primary gradient">
						<input type="text" placeholder="Enter your email address">
						<button><i class="fa fa-paper-plane-o"></i></button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer Section End -->
	
	
	<!-- Footer Start -->
	<footer class="footer p-t-60">
		<div class="container">
			<div class="row m-b-30">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<img src="../assets/images/logo/dark.svg" class="m-b-20" alt="">
					<div class="text">Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h6 class="m-b-10">Helpful Links</h6>
					<ul class="footer-nav list-unstyled">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>About Us</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Features</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>FAQ’s</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Blog</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Contact</span></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h6 class="m-b-10">Services</h6>
					<ul class="footer-nav list-unstyled">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Worldwide</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Scalable</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Modular</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Connectivity</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Corporate</span></a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h6 class="m-b-10">Contact Us</h6>
					<div class="address">
						<p>455 West Orchard Street<br>Kings Mountain, NC 28086</p>
						<p>Phone: (272) 211-7370</p>
						<p><span>E-Mail: </span><a href="#">support@yourbrand.com</a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright text-center">© 2020 Bodrum. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->


	<!-- jQuery -->
	<script src="../assets/js/jquery-2.1.0.min.js"></script>
	
	<!-- Bootstrap -->
	<script src="../assets/js/popper.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="../assets/js/scrollreveal.min.js"></script>
	<script src="../assets/js/imgfix.min.js"></script>
	<script src="../assets/js/owl.carousel.min.js"></script>
	<script src="../assets/js/parallax.min.js"></script>
	<script src="../assets/js/waypoints.min.js"></script>
	<script src="../assets/js/jquery.counterup.min.js"></script>
	<script src="../assets/js/moment.js"></script>
	<script src="../assets/js/bootstrap-datetimepicker.min.js"></script>
	<script src="../assets/js/bootstrap-select.min.js"></script>
	<script src="../assets/js/i18n/defaults-en_US.js"></script>
	<script src="../assets/js/stickySidebar.js"></script>
	
	<!-- Global Init -->
	<script src="../assets/js/global.js"></script>
</body>
</html>