/* ----------------------------------------------------------------------------------------
Template: Bodrum - Modular Multi Purpose HTML5 Template
Version: 1.0.8
Author: Tempload - support@tempload.com
 -----------------------------------------------------------------------------------------*/

 /* ---------------------------------------------
Table of contents
------------------------------------------------
- font & settings
- keyframes
- preloader
- global
- typography
- utilities
- buttons
- header
- welcome
- parallax
- features
- blog
- pricing
- login
- faq
- footer

--------------------------------------------- */

@import 'theme-options';

@import 'mixins';

@import 'keyframes';

@import 'preloader';

@import 'global';

@import 'typography';

@import 'utilities';

@import 'buttons';

@import 'header';

@import 'welcome';

@import 'parallax';

@import 'features';

@import 'blog';

@import 'pricing';

@import 'login';

@import 'faq';

@import 'footer';