<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bodrum - Modular Multi Purpose HTML5 Template</title>
	<meta name="description" content="Bodrum - Modular Multi Purpose HTML5 template by tempload." />
	<meta name="keywords" content="bodrum, startup, saas, agency, development, html, template, tempload" />
	<meta name="author" content="tempload" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="../assets/images/favicon/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="../assets/css/theme.css" rel="stylesheet" type="text/css">
</head>
<body>


	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div id="loader" class="spinner">
			<div id="shadow"></div>
			<div id="box"></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->


	<!-- Header Start -->
	<header class="main-nav-container box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-nav">
						<!-- Logo Start -->
						<a href="../home/classic-agency.html" class="logo pull-left d-flex align-items-center">
							<img src="../assets/images/logo/dark.svg" alt="">
						</a>
						<!-- Logo End -->

						<!-- Navigation Start -->
						<nav class="menu pull-right">
							<ul class="menu-container list-unstyled d-flex align-items-center">
								<li class="menu-item">
									<a class="nav-link" href="../help-desk/index.html">Help Page</a>
								</li>
								<li class="menu-item">
									<a class="nav-link" href="../help-desk/listing.html">Listing</a>
								</li>
								<li class="menu-item">
									<a class="nav-link" href="../help-desk/single-article.html">Single Article</a>
								</li>

								<!-- Mini Menu Start -->
								<li class="menu-item open-mini-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Demos</a>
									<div class="mini-menu box overflow-hidden rounded-bottom">
										<div class="row no-gutters">
											<div class="col-lg-6">
												<div class="mini-menu-img imgfix overlay-gradient opacity-80">
													<img src="../assets/images/photos/navbar/2.jpg" alt="">
													<div class="content text-center p-25">
														<h3 class="text-white m-b-20">Want to see an overview?</h3>
														<a href="javascript:;" class="button button-success transition-3d-hover">Learn More</a>
													</div>
												</div>
											</div>
											<div class="col-lg-6 p-l-r-10">
												<a href="../home-property/index.html" class="icon-item border-bottom d-flex justify-content-start align-items-center" target="_blank">
													<div class="icon">
														<img src="../assets/images/photos/icons/1.png" alt="">
													</div>
													<div class="text">
														<h6>House</h6>
														<span>Real estate demo</span>
													</div>
												</a>
												<a href="../help-desk/index.html" class="icon-item border-bottom d-flex justify-content-start align-items-center" target="_blank">
													<div class="icon">
														<img src="../assets/images/photos/icons/2.png" alt="">
													</div>
													<div class="text">
														<h6>Help Desk</h6>
														<span>Help desk demo</span>
													</div>
												</a>
												<a href="#" class="icon-item border-bottom d-flex justify-content-start align-items-center o-30">
													<div class="icon">
														<img src="../assets/images/photos/icons/3.png" alt="">
													</div>
													<div class="text">
														<h6>New Demos</h6>
														<span>Coming soon...</span>
													</div>
												</a>
											</div>
										</div>
									</div>
								</li>
								<!-- Mini Menu End -->

								<!-- Mini Menu Start -->
								<li class="menu-item open-mini-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Docs</a>
									<div class="mini-menu w-300 h-auto box overflow-hidden rounded-bottom">
										<div class="row no-gutters">
											<div class="col-lg-12 p-l-r-10">
												<a href="../../../documentation/index.html" target="_blank" class="icon-item border-bottom d-flex justify-content-start align-items-center">
													<div class="icon">
														<img src="../assets/images/photos/icons/4.png" alt="">
													</div>
													<div class="text">
														<h6>Documentation</h6>
														<span>Development guides</span>
													</div>
												</a>
												<a href="../../../documentation/changelog.html" target="_blank" class="icon-item d-flex justify-content-start align-items-center">
													<div class="icon">
														<img src="../assets/images/photos/icons/5.png" alt="">
													</div>
													<div class="text">
														<h6>Changelog</h6>
														<span>Version changes</span>
													</div>
													<!-- Version number settings assets/js/global.js -->
													<div class="version"></div>
												</a>
											</div>
										</div>
									</div>
								</li>
								<!-- Mini Menu End -->

								<li class="menu-item d-none d-lg-block">
									<a class="nav-button transition-3d-hover" href="https://themeforest.net/item/bodrum-modular-multi-purpose-html5-template/25649533" target="_blank">Buy Now</a>
								</li>
							</ul>
						</nav>
						<!-- Navigation End -->

						<a class="menu-trigger">
							<span>Menu</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->


	<!-- Page Header Start -->
	<section class="m-t-80 back-gradient p-t-40 p-b-40">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="input-buttons success m-b-40">
						<input type="text" placeholder="Ask a question">
						<button><i class="fa fa-search"></i></button>
					</div>
				</div>
				<div class="col-lg-12">
					<ol class="breadcrumb center-center">
						<li class="breadcrumb-item"><a href="#">Help Center</a></li>
						<li class="breadcrumb-item active" aria-current="page">Getting Started</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<!-- Page Header End -->


	<section class="p-t-120 p-b-120">
		<div class="container">
			<div class="row">
				<div class="offset-lg-1 col-lg-10">
					<div class="box rounded p-50">
						<h1 class="m-b-10">What's Bodrum?</h1>
						<p class="m-b-20">Sed non dui aliquam, ullamcorper est non, aliquet mauris. Quisque lacus ligula, dapibus nec dignissim non, tincidunt vel quam. Etiam porttitor iaculis odio.</p>

						<!-- profile card start -->
						<div class="divider m-b-20"></div>
						<div class="d-flex align-items-center m-b-20">
							<div class="oval-70 overflow-hidden m-r-30">
								<img src="../assets/images/photos/profile/70/9.png" alt="">
							</div>
							<div class="content w-100 flex-1">
								<div class="row d-flex align-items-center">
									<div class="col-lg-8">
										<div class="d-block">
											<span>Written by </span>
											<span class="text-color-heading">Lance Bogrol</span>
										</div>
										<span>Updated over a week ago</span>
									</div>
									<div class="col-lg-4">
										<ul class="list-unstyled text-right sm-text-left">
											<li class="d-inline f-s-16 m-l-5 sm-m-0">
												<span>Share:</span>
											</li>
											<li class="d-inline f-s-16 m-l-5">
												<a class="text-color-reset" href="#"><i class="fa fa-twitter-square"></i></a>
											</li>
											<li class="d-inline f-s-16 m-l-5">
												<a class="text-color-reset" href="#"><i class="fa fa-linkedin-square"></i></a>
											</li>
											<li class="d-inline f-s-16 m-l-5">
												<a class="text-color-reset" href="#"><i class="fa fa-facebook-square"></i></a>
											</li>
											<li class="d-inline f-s-16 m-l-5">
												<a class="text-color-reset" href="#"><i class="fa fa-pinterest-square"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="divider m-b-20"></div>
						<!-- profile card end -->

						<div class="text-content">
							<p>Suspendisse eu scelerisque tellus. Curabitur non tincidunt nisl, sit amet interdum ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras congue eros vitae risus tincidunt, nec pulvinar massa bibendum. Nam sit amet convallis mauris.</p>
							<p>Praesent pulvinar sollicitudin lacus eu luctus. Donec eget ante et mi finibus imperdiet id nec quam. In rutrum, massa non porta malesuada, magna quam ullamcorper nunc, ut placerat erat metus et leo. Fusce sed dapibus libero. Nullam eleifend libero a lectus blandit, elementum euismod arcu elementum. Donec tempus varius mi, vitae aliquam erat luctus et. Aliquam in lacinia nunc.</p>
							<ul>
								<li>
									<p><strong>Free updates:</strong> Morbi pellentesque finibus libero, in blandit lorem eleifend eget. Praesent egestas hendrerit augue a vestibulum. Nullam fringilla, eros malesuada eleifend placerat, lacus tellus egestas erat, nec varius sem lorem ut mauris. Morbi libero felis.</p>
								</li>
								<li>
									<p><strong>Technical support:</strong> Cras eget dolor accumsan, blandit risus vitae, faucibus erat. Aliquam scelerisque, diam ut feugiat scelerisque, diam felis venenatis purus, eget cursus enim turpis at sem. Fusce nec tristique dolor, sit amet tristique purus.</p>
								</li>
							</ul>
						</div>

						<div class="divider m-b-40"></div>
						<div class="text-center">
							<h5 class="m-b-40">Was this article helpful?</h5>
						</div>
						<div class="text-center">
							<a href="#" class="button button-primary transition-3d-hover m-r-30">Yes, thanks!</a>
							<a href="#" class="button button-primary-soft transition-3d-hover">Not really</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Footer Section Start -->
	<section class="p-t-120 p-b-120 section-blue border-bottom">
		<div class="container">
			<div class="row">
				<div class="offset-lg-3 col-lg-6 text-center">
					<h2 class="m-b-10">Still no luck? We can help!</h2>
					<p class="m-b-40">Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi erat.</p>
					<a href="#" class="button button-primary transition-3d-hover">Submit a Request</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer Section End -->
	
	
	<!-- Footer Start -->
	<footer class="footer p-t-60">
		<div class="container">
			<div class="row m-b-30">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<img src="../assets/images/logo/dark.svg" class="m-b-20" alt="">
					<div class="text">Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h6 class="m-b-10">Helpful Links</h6>
					<ul class="footer-nav list-unstyled">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>About Us</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Features</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>FAQ’s</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Blog</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Contact</span></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h6 class="m-b-10">Services</h6>
					<ul class="footer-nav list-unstyled">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Worldwide</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Scalable</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Modular</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Connectivity</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Corporate</span></a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h6 class="m-b-10">Contact Us</h6>
					<div class="address">
						<p>455 West Orchard Street<br>Kings Mountain, NC 28086</p>
						<p>Phone: (272) 211-7370</p>
						<p><span>E-Mail: </span><a href="#">support@yourbrand.com</a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright text-center">© 2020 Bodrum. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->


	<!-- jQuery -->
	<script src="../assets/js/jquery-2.1.0.min.js"></script>
	
	<!-- Bootstrap -->
	<script src="../assets/js/popper.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="../assets/js/scrollreveal.min.js"></script>
	<script src="../assets/js/imgfix.min.js"></script>
	<script src="../assets/js/owl.carousel.min.js"></script>
	<script src="../assets/js/parallax.min.js"></script>
	<script src="../assets/js/waypoints.min.js"></script>
	<script src="../assets/js/jquery.counterup.min.js"></script>
	
	<!-- Global Init -->
	<script src="../assets/js/global.js"></script>
</body>
</html>