<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bodrum - Modular Multi Purpose HTML5 Template</title>
	<meta name="description" content="Bodrum - Modular Multi Purpose HTML5 template by tempload." />
	<meta name="keywords" content="bodrum, startup, saas, agency, development, html, template, tempload" />
	<meta name="author" content="tempload" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="gradient/assets/images/favicon/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="gradient/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="gradient/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="gradient/assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<link href="gradient/assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="gradient/assets/css/theme.css" rel="stylesheet" type="text/css">
</head>
<body class="body-gray">


	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div id="loader" class="spinner">
			<div id="shadow"></div>
			<div id="box"></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->


	<!-- Welcome Start -->
	<section class="welcome-flow d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="position-absolute top-20">
						<img src="gradient/assets/images/logo/dark.svg" alt="">
						<span class="position-absolute top-9 m-l-10 version"></span>
					</div>
				</div>
			</div>
			<div class="row d-flex align-items-center">
				<div class="col-lg-5">
					<div class="content">
						<div class="news m-b-40">
							<div class="info">LAST UPDATE</div>
							<span>2 new page added.</span>
							<span class="pull-right version"></span>
						</div>
						<h1 class="m-b-10">Modular Multi Purpose HTML5 Template</h1>
						<p class="m-b-40">To create <span class="text-color-primary">next-generation</span> web projects, start using our pre-built pages and our modular HTML5 UI Kit right away. We will continue to create new pages and demos every week.</p>
						<div class="row">
							<div class="col-lg-6">
								<a href="#demos" class="button button-primary transition-3d-hover sm-margin-bottom-30 d-block">Explore Demos</a>
							</div>
							<div class="col-lg-6">
								<a href="https://themeforest.net/item/bodrum-modular-multi-purpose-html5-template/25649533" target="_blank" class="button button-success-soft transition-3d-hover d-block">Buy Now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="offset-lg-1 col-lg-6">
					<div class="flow-container h-850">
						<div class="flow-content">
							<div class="row">
								<div class="col-4">
									<div class="rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/1.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/2.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/3.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/4.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/5.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/6.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden">
										<img src="gradient/assets/images/landing/header/7.png" class="img-fluid" alt="">
									</div>
								</div>
								<div class="col-4">
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/8.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/9.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/10.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/11.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/12.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden">
										<img src="gradient/assets/images/landing/header/13.png" class="img-fluid" alt="">
									</div>
								</div>
								<div class="col-4">
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/14.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/15.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/16.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/17.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/18.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden m-b-30">
										<img src="gradient/assets/images/landing/header/19.png" class="img-fluid" alt="">
									</div>
									<div class="box rounded overflow-hidden">
										<img src="gradient/assets/images/landing/header/20.png" class="img-fluid" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Welcome End -->


	<!-- Numbers Start -->
	<section class="box p-t-80 p-b-80">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col-lg-4 text-center sm-m-b-30">
					<h1 class="m-b-10 text-color-primary">100+</h1>
					<p class="font-bold text-color-heading">HTML5 Pages</p>
				</div>
				<div class="col-lg-4 text-center sm-m-b-30">
					<h1 class="m-b-10 text-color-primary">250+</h1>
					<p class="font-bold text-color-heading">Section Elements</p>
				</div>
				<div class="col-lg-4 text-center sm-m-b-30">
					<h1 class="m-b-10 text-color-primary">15+</h1>
					<p class="font-bold text-color-heading">Category</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Numbers End -->


	<!-- Page Content Start -->
	<section class="p-t-120 p-b-90">
		<div class="container">
			<div class="row text-center" id="demos">
				<div class="offset-lg-3 col-lg-6">
					<div class="header-badge m-b-15">Pages</div>
					<h2 class="m-b-10">Explore Our Demos</h2>
					<p class="m-b-40">We continue to add new things to make our template more beautiful and strong every day.</p>
				</div>
			</div>
			<div class="row">
				<div class="offset-lg-2 col-lg-4 col-md-6 col-6 m-b-30">
					<a href="gradient/home/classic-agency.html" class="d-block text-center link-text-d-n" target="_blank">
						<div class="box h-270 sm-h-220 overflow-hidden rounded transition-3d-hover m-b-20">
							<img src="gradient/assets/images/landing/index/2.jpg" class="img-fluid" alt="">
						</div>
						<h6>Gradient Version</h6>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 col-6 m-b-30">
					<a href="minimal/home/classic-agency.html" class="d-block text-center link-text-d-n" target="_blank">
						<div class="box h-270 sm-h-220 overflow-hidden rounded transition-3d-hover m-b-20">
							<img src="gradient/assets/images/landing/index/1.jpg" class="img-fluid" alt="">
						</div>
						<h6>Minimal Version</h6>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Page Content End -->


	<!-- Footer Section Start -->
	<section class="p-t-120 p-b-120 bg-white border-top border-bottom">
		<div class="container">
			<div class="row">
				<div class="offset-lg-3 col-lg-6">
					<h2 class="text-center m-b-10">Support</h2>
					<p class="text-center m-b-40">You can contact us at <a href="mailto:support@tempload.com">support@tempload.com</a> for any questions, technical support requests or comments.</p>
					<div class="row">
						<div class="col-lg-12 text-center">
							<a href="../documentation/index.html" target="_blank" class="button button-primary transition-3d-hover m-r-10">Documentation</a>
							<a href="../documentation/changelog.html" target="_blank" class="button button-success transition-3d-hover m-l-10">Changelog</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer Section End -->


	<!-- Footer Start -->
	<footer class="footer p-t-60">
		<div class="container">
			<div class="row m-b-60">
				<div class="col-lg-12 text-center">
					<img src="gradient/assets/images/logo/dark.svg" alt="">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright text-center">© 2020 Bodrum. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->


	<!-- jQuery -->
	<script src="gradient/assets/js/jquery-2.1.0.min.js"></script>
	
	<!-- Bootstrap -->
	<script src="gradient/assets/js/popper.js"></script>
	<script src="gradient/assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="gradient/assets/js/scrollreveal.min.js"></script>
	<script src="gradient/assets/js/imgfix.min.js"></script>
	<script src="gradient/assets/js/owl.carousel.min.js"></script>
	<script src="gradient/assets/js/parallax.min.js"></script>
	<script src="gradient/assets/js/waypoints.min.js"></script>
	<script src="gradient/assets/js/jquery.counterup.min.js"></script>
	
	<!-- Global Init -->
	<script src="gradient/assets/js/global.js"></script>
</body>
</html>