<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bodrum - Modular Multi Purpose HTML5 Template</title>
	<meta name="description" content="Bodrum - Modular Multi Purpose HTML5 template by tempload." />
	<meta name="keywords" content="bodrum, startup, saas, agency, development, html, template, tempload" />
	<meta name="author" content="tempload" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="../assets/images/favicon/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="../assets/css/theme.css" rel="stylesheet" type="text/css">
</head>
<body>


	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div id="loader" class="spinner">
			<div id="shadow"></div>
			<div id="box"></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->


	<!-- Header Start -->
	<header class="main-nav-container box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-nav">
						<!-- Logo Start -->
						<a href="../home/classic-agency.html" class="logo pull-left d-flex align-items-center">
							<img src="../assets/images/logo/dark.svg" alt="">
						</a>
						<!-- Logo End -->

						<!-- Navigation Start -->
						<nav class="menu pull-right">
							<ul class="menu-container list-unstyled d-flex align-items-center">
								<!-- Mega Menu Start -->
								<li class="menu-item open-mega-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Home</a>
									<div class="mega-menu box overflow-hidden rounded-bottom">
										<div class="row no-gutters">
											<div class="col-lg-6">
												<div class="mega-menu-img imgfix overlay-blue opacity-80">
													<img src="../assets/images/photos/navbar/1.jpg" alt="">
													<div class="content text-center">
														<h3 class="text-white">Want to see an overview?</h3>
														<p class="text-white m-b-30">See all the pages at once.</p>
														<a href="javascript:;" class="button button-success transition-3d-hover">View All Pages</a>
													</div>
												</div>
											</div>
											<div class="col-lg-6 p-25">
												<div class="row no-gutters">
													<div class="col-lg-4">
														<span class="sub-title text-uppercase">Classic</span>
														<ul class="list-unstyled">
															<li><a href="../home/classic-agency.html">Classic Agency</a></li>
															<li><a href="../home/classic-business.html">Classic Business</a></li>
															<li><a href="../home/classic-marketing.html">Classic Marketing</a></li>
															<li><a href="../home/classic-start-up.html">Classic Start-up</a></li>
															<li><a href="../home/classic-saas.html">Classic SaaS</a></li>
															<li><a href="../home/classic-service.html">Classic Service</a></li>
															<li><a href="../home/classic-translation.html">Classic Translation</a></li>
														</ul>
													</div>
													<div class="col-lg-4">
														<span class="sub-title text-uppercase">Software</span>
														<ul class="list-unstyled m-b-20">
															<li><a href="../home/app-ui-kit.html">App UI Kit</a></li>
															<li><a href="../home/app-software.html">App Software</a></li>
															<li><a href="../home/app-software-2.html">App Software 2</a></li>
														</ul>
														<span class="sub-title text-uppercase">Other</span>
														<ul class="list-unstyled m-b-20">
															<li><a href="../home/domain.html">Domain Sales</a></li>
															<li><a href="../home/cryptocurrency-ico.html">Cryptocurrency ICO</a></li>
														</ul>
													</div>
													<div class="col-lg-4">
														<span class="sub-title text-uppercase">Portfolio</span>
														<ul class="list-unstyled m-b-20">
															<li><a href="../home/portfolio-agency.html">Portfolio Agency</a></li>
															<li><a href="../home/portfolio-personal.html">Portfolio Personal</a></li>
														</ul>
														<span class="sub-title text-uppercase">Mobile App</span>
														<ul class="list-unstyled last m-b-20">
															<li><a href="../home/app-location.html">Location App</a></li>
															<li><a href="../home/app-chat.html">Chat App</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<!-- Mega Menu End -->

								<!-- Sub Menu Start -->
								<li class="menu-item open-sub-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Pages</a>
									<ul class="sub-menu list-unstyled box rounded-bottom">
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="javascript:;">Company</a>
											<ul class="level-menu list-unstyled box overflow-hidden rounded-bottom">
												<li class="level-menu-item">
													<a href="../pages/about-1.html" class="level-menu-link">About 1</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/about-2.html" class="level-menu-link">About 2</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/services.html" class="level-menu-link">Services</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/services-single.html" class="level-menu-link">Services Single</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/customer.html" class="level-menu-link">Customer</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/customer-story.html" class="level-menu-link">Customer Story</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/careers.html" class="level-menu-link">Careers</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/careers-single.html" class="level-menu-link">Careers Single</a>
												</li>
											</ul>
										</li>
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="javascript:;">Portfolio</a>
											<ul class="level-menu list-unstyled box overflow-hidden rounded-bottom">
												<li class="level-menu-item">
													<a href="../pages/portfolio-classic.html" class="level-menu-link">Portfolio Classic</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/portfolio-parallax.html" class="level-menu-link">Portfolio Parallax</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/portfolio-single.html" class="level-menu-link">Portfolio Single</a>
												</li>
											</ul>
										</li>
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="javascript:;">Login & Signup</a>
											<ul class="level-menu list-unstyled box overflow-hidden rounded-bottom">
												<li class="level-menu-item">
													<a href="../pages/login.html" class="level-menu-link">Login</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/signup.html" class="level-menu-link">Signup</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/recover-account.html" class="level-menu-link">Recover Account</a>
												</li>
											</ul>
										</li>
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="javascript:;">Contact</a>
											<ul class="level-menu list-unstyled box overflow-hidden rounded-bottom">
												<li class="level-menu-item">
													<a href="../pages/contact-business.html" class="level-menu-link">Contact Business</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/contact-personel.html" class="level-menu-link">Contact Personel</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/contact-creative.html" class="level-menu-link">Contact Creative</a>
												</li>
											</ul>
										</li>
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="javascript:;">Utilities</a>
											<ul class="level-menu list-unstyled box overflow-hidden rounded-bottom">
												<li class="level-menu-item">
													<a href="../pages/pricing-1.html" class="level-menu-link">Pricing 1</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/pricing-2.html" class="level-menu-link">Pricing 2</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/pricing-3.html" class="level-menu-link">Pricing 3</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/faq.html" class="level-menu-link">F.A.Q.</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/terms-conditions.html" class="level-menu-link">Terms & Conditions</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/privacy-policy.html" class="level-menu-link">Privacy & Policy</a>
												</li>
											</ul>
										</li>
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="javascript:;">Specialty</a>
											<ul class="level-menu list-unstyled box overflow-hidden rounded-bottom">
												<li class="level-menu-item">
													<a href="../pages/coming-soon.html" class="level-menu-link">Coming Soon 1</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/coming-soon-2.html" class="level-menu-link">Coming Soon 2</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/system-status.html" class="level-menu-link">System Status</a>
												</li>
												<li class="level-menu-item">
													<a href="../pages/error-404.html" class="level-menu-link">Error 404</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<!-- Sub Menu End -->

								<!-- Sub Menu Start -->
								<li class="menu-item open-sub-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Blog</a>
									<ul class="sub-menu list-unstyled box rounded-bottom">
										<li class="sub-menu-item">
											<a href="../blog/card-style.html" class="sub-menu-link">Card Style</a>
										</li>
										<li class="sub-menu-item">
											<a href="../blog/list-style.html" class="sub-menu-link">List Style</a>
										</li>
										<li class="sub-menu-item">
											<a href="../blog/profile.html" class="sub-menu-link">Blog Profile</a>
										</li>
										<li class="sub-menu-item">
											<a href="../blog/single-article.html" class="sub-menu-link">Single Article</a>
										</li>
									</ul>
								</li>
								<!-- Sub Menu End -->

								<!-- Mini Menu Start -->
								<li class="menu-item open-mini-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Demos</a>
									<div class="mini-menu box overflow-hidden rounded-bottom">
										<div class="row no-gutters">
											<div class="col-lg-6">
												<div class="mini-menu-img imgfix overlay-blue opacity-80">
													<img src="../assets/images/photos/navbar/2.jpg" alt="">
													<div class="content text-center p-25">
														<h3 class="text-white m-b-20">Want to see an overview?</h3>
														<a href="javascript:;" class="button button-success transition-3d-hover">Learn More</a>
													</div>
												</div>
											</div>
											<div class="col-lg-6 p-l-r-10">
												<a href="../home-property/index.html" class="icon-item border-bottom d-flex justify-content-start align-items-center" target="_blank">
													<div class="icon">
														<img src="../assets/images/photos/icons/1.png" alt="">
													</div>
													<div class="text">
														<h6>House</h6>
														<span>Real estate demo</span>
													</div>
												</a>
												<a href="../help-desk/index.html" class="icon-item border-bottom d-flex justify-content-start align-items-center" target="_blank">
													<div class="icon">
														<img src="../assets/images/photos/icons/2.png" alt="">
													</div>
													<div class="text">
														<h6>Help Desk</h6>
														<span>Help desk demo</span>
													</div>
												</a>
												<a href="#" class="icon-item border-bottom d-flex justify-content-start align-items-center o-30">
													<div class="icon">
														<img src="../assets/images/photos/icons/3.png" alt="">
													</div>
													<div class="text">
														<h6>New Demos</h6>
														<span>Coming soon...</span>
													</div>
												</a>
											</div>
										</div>
									</div>
								</li>
								<!-- Mini Menu End -->

								<!-- Mini Menu Start -->
								<li class="menu-item open-mini-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Docs</a>
									<div class="mini-menu w-300 h-auto box overflow-hidden rounded-bottom">
										<div class="row no-gutters">
											<div class="col-lg-12 p-l-r-10">
												<a href="../../../documentation/index.html" target="_blank" class="icon-item border-bottom d-flex justify-content-start align-items-center">
													<div class="icon">
														<img src="../assets/images/photos/icons/4.png" alt="">
													</div>
													<div class="text">
														<h6>Documentation</h6>
														<span>Development guides</span>
													</div>
												</a>
												<a href="../../../documentation/changelog.html" target="_blank" class="icon-item d-flex justify-content-start align-items-center">
													<div class="icon">
														<img src="../assets/images/photos/icons/5.png" alt="">
													</div>
													<div class="text">
														<h6>Changelog</h6>
														<span>Version changes</span>
													</div>
													<!-- Version number settings assets/js/global.js -->
													<div class="version"></div>
												</a>
											</div>
										</div>
									</div>
								</li>
								<!-- Mini Menu End -->

								<li class="menu-item d-none d-lg-block">
									<a class="nav-button transition-3d-hover" href="https://themeforest.net/item/bodrum-modular-multi-purpose-html5-template/25649533" target="_blank">Buy Now</a>
								</li>
							</ul>
						</nav>
						<!-- Navigation End -->

						<a class="menu-trigger">
							<span>Menu</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->


	<!-- Cover Start -->
	<section class="p-t-140 p-b-180 m-t-80 bg-primary position-relative z-i-1" id="particle-buble">
		<div class="position-absolute bottom-0 z-i-2">
			<img src="../assets/images/welcome/6.svg" class="img-fluid" alt="">
		</div>
		<div class="container position-relative z-i-2">
			<div class="row">
				<div class="offset-lg-4 col-lg-4 text-center">
					<h1 class="text-white m-b-10">Privacy & Policy</h1>
					<p class="text-white">Last modified: January 01, 2020</p class="text-white">
				</div>
			</div>
		</div>
	</section>
	<!-- Cover End -->


	<!-- Page Start -->
	<section class="p-b-120 m-t-120">
		<div class="container sm-m-t-120">
			<div class="row">
				<!-- content start -->
				<div class="offset-lg-2 col-lg-8">
					<div class="box border-box rounded p-50 p-b-10">
						<div class="text-content">
							<h5 class="text-primary">Introduction</h5>
							<p>Sed non dui aliquam, ullamcorper est non, aliquet mauris. Quisque lacus ligula, dapibus nec dignissim non, tincidunt vel quam. Etiam porttitor.</p>
							<p>Cras sagittis nunc lectus, in condimentum ligula ornare at. Etiam sagittis malesuada nisl. Duis volutpat ligula ante. Sed cursus, tortor a pellentesque pulvinar, lorem ipsum gravida elit, id posuere elit neque in est. Mauris ex justo, tincidunt at suscipit quis, pretium a mi.</p>

							<h5 class="text-primary">Personal Data Collected by Bodrum</h5>
							<p>Sed luctus tristique est, non tempor ipsum tincidunt in. Vestibulum commodo eu augue nec maximus. Vestibulum vel metus varius turpis finibus accumsan in eu ligula. Phasellus semper ornare orci, sit amet fermentum neque faucibus id. Vestibulum id ante massa.</p>

							<h5 class="text-primary">Use of Personal Data by Bodrum and Legal Basis for Processing</h5>
							<p>Duis ultrices augue id feugiat commodo. Vivamus eu elit convallis, posuere neque at, ultricies tortor. Donec eleifend tortor vel laoreet convallis.</p>
							<p>Aliquam fermentum velit nunc, quis tristique neque imperdiet in. Etiam pretium fermentum eros vitae scelerisque.</p>
							<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam dignissim urna eget dictum congue.</p>

							<h5 class="text-primary">Use of Cookies and Other Tracking Technologies</h5>
							<p>Aenean id placerat tortor. Ut vel interdum odio. Mauris vitae tortor augue. Sed tincidunt, metus id venenatis dictum, nisi felis suscipit neque, pharetra consectetur nibh eros et lorem. Suspendisse potenti.</p>
							<p>Vivamus eu massa gravida, facilisis mauris vel, sodales diam. Phasellus at nisi condimentum, bibendum lacus eu, suscipit erat. Mauris fringilla laoreet tristique. Sed eleifend tincidunt erat, in cursus felis fringilla sit amet. Morbi commodo est dapibus metus tincidunt pellentesque.</p>
						</div>
					</div>
				</div>
				<!-- content end -->
			</div>
		</div>
	</section>
	<!-- Page End -->


	<!-- Footer Section Start -->
	<section class="p-t-120 p-b-120 bg-gray border-top border-bottom">
		<div class="container">
			<div class="row">
				<div class="offset-lg-3 col-lg-6">
					<h2 class="text-center m-b-10">Stay in the know</h2>
					<p class="text-center m-b-40">Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi erat.</p>
					<div class="input-buttons primary">
						<input type="text" placeholder="Enter your email address">
						<button><i class="fa fa-paper-plane-o"></i></button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer Section End -->


	<!-- Footer Start -->
	<footer class="footer p-t-60">
		<div class="container">
			<div class="row m-b-30">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<img src="../assets/images/logo/dark.svg" class="m-b-20" alt="">
					<div class="text">Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h6 class="m-b-10">Helpful Links</h6>
					<ul class="footer-nav list-unstyled">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>About Us</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Features</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>FAQ’s</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Blog</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Contact</span></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h6 class="m-b-10">Services</h6>
					<ul class="footer-nav list-unstyled">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Worldwide</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Scalable</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Modular</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Connectivity</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Corporate</span></a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h6 class="m-b-10">Contact Us</h6>
					<div class="address">
						<p>455 West Orchard Street<br>Kings Mountain, NC 28086</p>
						<p>Phone: (272) 211-7370</p>
						<p><span>E-Mail: </span><a href="#">support@yourbrand.com</a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright text-center">© 2020 Bodrum. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->


	<!-- jQuery -->
	<script src="../assets/js/jquery-2.1.0.min.js"></script>
	
	<!-- Bootstrap -->
	<script src="../assets/js/popper.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="../assets/js/scrollreveal.min.js"></script>
	<script src="../assets/js/imgfix.min.js"></script>
	<script src="../assets/js/owl.carousel.min.js"></script>
	<script src="../assets/js/parallax.min.js"></script>
	<script src="../assets/js/waypoints.min.js"></script>
	<script src="../assets/js/jquery.counterup.min.js"></script>
	<script src="../assets/js/particles.min.js"></script>
	
	<!-- Header Bubble Settings -->
	<script src="../assets/js/particle-primary.js"></script>
	
	<!-- Global Init -->
	<script src="../assets/js/global.js"></script>
</body>
</html>