/* 
---------------------------------------------
login
--------------------------------------------- 
*/

.login-left {
	float: left;
	width: 35%;
	height: calc(100vh - 80px);
}

.login-right {
	float: left;
	width: 65%;
	height: calc(100vh - 80px);
}

@media (max-width : 991px) {
	.login-left {
		width: 100%;
	}

	.login-right {
		width: 100%;
		height: auto;
		padding-top: 120px;
		padding-bottom: 120px;
	}
}